body {
  background-color: #fff;
}

#site-name a:link,
#site-name a:visited {
  color: #D2540D;
  font-weight: normal;
}

a:visited,
a:link,
#site-name a:hover,
.node ul.links a,
.comment ul.links a,
li a.active {
  color: #D2540D;
}


#page-wrapper {
  margin-top: 1em;
}

#header {
  margin-left: 16%;
}

#sidebar-second {
  margin-top: 12em;
}

#footer {
  border-top: 0;
}

h1#page-title {
    font-size: 3.5em;
}

#block-system-main .node {
    margin-bottom: 4.5em;
}

div.meta {
  margin-bottom: -2.75em;
}

.submitted {
  margin-left: -12em;
}

.node-author {
  display: none;
}

body.not-front .field-type-image {
  float: none;
  text-align: center;
  margin: 0;
  padding: 2em 0;
  border: #ddd 1px solid;
  border-width: 1px 0;
}

.pager li:hover,
.pager li:hover a {
  background-color: #D2540D;
}
