body {
  background-color: #fff;
}


#page-wrapper {
  margin-top: 1em;
}

#header {
}

#sidebar-second {
  margin-top: 12em;
}

div.meta {
  margin-bottom: -2.5em;
}

.submitted {
  margin-left: -12em;
  text-align: right;
}

.node-author {
  display: none;
}

body.not-front .field-type-image {
  text-align: center;
  margin: 0 0 0.5em 1.5em;
}
